@font-face {
  font-family: 'Alibaba';
  src: url("../fonts/alibabapuhui/Alibaba-PuHuiTi-Regular.eot"); /* IE9 */
  src: url("../fonts/alibabapuhui/Alibaba-PuHuiTi-Regular.eot"); /* IE9 */
  src: url("../fonts/alibabapuhui/Alibaba-PuHuiTi-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/alibabapuhui/Alibaba-PuHuiTi-Regular.woff2") format('woff2'), url("../fonts/alibabapuhui/Alibaba-PuHuiTi-Regular.woff") format('woff'), url("../fonts/alibabapuhui/Alibaba-PuHuiTi-Regular.ttf") format('truetype'), font-family "JetBrains Mono", url("../fonts/jetbrains/JetBrainsMono-Regular.ttf"), font-family 'Alibaba Sans';
  src: url("../fonts/AlibabaSans/AlibabaSans-Regular.eot"); /* IE9 */
  src: url("../fonts/AlibabaSans/AlibabaSans-Regular.eot"); /* IE9 */
  src: url("../fonts/AlibabaSans/AlibabaSans-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/AlibabaSans/AlibabaSans-Regular.woff2") format('woff2'), url("../fonts/AlibabaSans/AlibabaSans-Regular.woff") format('woff'), url("../fonts/AlibabaSans/AlibabaSans-Regular.ttf") format('truetype'), font-weight 300;
  font-display: swap;
}
